# Dependencies
node_modules

# Build
dist
*.tsbuildinfo

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local

# Uploads
uploads
tmp

# Debug
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Prisma
prisma/migrations/*/migration_lock.toml
